.fullWidth {
    width: 100vw;
}

.mainMenu {
    padding: 2vw;
    width: 50vw;
    margin: auto;
    margin-top: 2vw;
    text-align: center;
}

.mainMenu form * {
    margin: 1vmin;
    vertical-align: middle;
    display: inline-block;
}

.battlefieldCell {
    position: relative;
    display: inline-block;
    font-size: initial;
}

.battlefieldCell img {
    display: block;
    box-shadow: -5px -5px 10px 3px rgba(0, 0, 0, 0.5);
}

.battlefieldRow {
    display: block;
    font-size: 0;
}

.battlefield {
    width: 65vw;
    height: 70vh;
    overflow: scroll;
    display: inline-block;
    padding: 1em;
}

.otherBattlefields {
    width: 15vw;
    height: 70vh;
    overflow: scroll;
    display: inline-block;
    padding: 1em;
    overflow-x: hidden;
}

.gameCard {
    cursor: pointer;
}

.selectedCard {
    display: inline-block;
    width: 20vw;
    height: 70vh;
    padding: 1em;
    overflow-y: scroll;
}

.userStatus {
    display: inline-block;
    width: fit-content;
    margin-right: 3vmin;
}

.deckUpload * {
    margin: 1vmin;
    display: block !important;
}

.deckUploadDrop {
    position: relative;
    height: 10vh;
    margin: 2vmin;
}

.deckUploadDrop p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hand {
    position: relative;
}

.emptyCard {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 5%;
}

.emptyCard .MuiTypography-root {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.otherBattlefield {
    margin-bottom: 2vmin;
    cursor: pointer;
    position: relative;
}

.topBar {
    width: 100vw;
    height: 5vh;
    border-bottom: 10px solid #4b5aad;
    padding: 1vmin;
    position: relative;
}

.topBar .MuiTypography-root {
    display: inline;
    margin-right: 2vmin;
}

.tapped {
    transform: rotate(15deg);
}
