.battlefieldCell {
    position: relative;
    display: inline-block;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    font-size: initial;
}

.battlefieldCell img {
    display: block;
    box-shadow: -5px -5px 10px 3px rgba(0, 0, 0, 0.5);
}

.battlefieldRow {
    display: block;
    font-size: 0;
}

.battlefield {

}

.card {
    position: absolute;
}
